<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :starttime %>
    <%= form.number_field :starttime %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <!= # set to email_field if want only email contact >
    <%= form.text_field :contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
