<div class="container-fluid total expenses-container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, class: "datepicker", onBlur: "changeStarttimes();" %>
  </div>
  <div class="field">
    <%= form.label :starttime %>
    <%= form.select(:starttime, 9.upto(18).each.collect { |m| [m, m] }, :prompt => 'Select') %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <!= # set to email_field if want only email contact >
    <%= form.text_field :contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var datepicker = $('.datepicker').datetimepicker(
          { 
            format: 'YYYY/MM/DD',
            icons:
            {
              time: 'fa fa-clock-o',
              date: 'fa fa-calendar',
              up: 'fa fa-chevron-up',
              down: 'fa fa-chevron-down',
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-calendar-check-o',
              clear: 'fa fa-trash-o',
              close: 'fa fa-close'
            }
          }
        );
  datepicker.css({
    width: '10rem'
  });


  function changeStarttimes() {
      date_select = document.getElementById('appointment_date')
      starttime_select = document.getElementById('appointment_starttime')
      console.log("changeStarttimes");
      let date_first_value = $('option', starttime_select)[0];
      $('option', starttime_select).remove();
      $(starttime_select).append(date_first_value);
      $.get({
        url: '/api/availablestarttime/'+date_select.value.replace(/\//g, '-'),
        dataType: 'json'
      })
      .done(function(json) {
        json.forEach((e) => {
          $(starttime_select).append(new Option(e, e));
        });
        console.log(
          "done:"+date_select.value.replace(/\//g, '-')+"with:"+json
          );
      })
      .fail(function(error) { console.log(error) });
  }

</script>